* body {
    padding: 0;
    box-sizing: border-box;
  }
  
  /*PORTADA*/
  
 
 

  
  .primer_span {
    color: #ccabcd;
  }
  
  .container {
    width: 85%;
    max-width: 400px;
    min-width: 20px;
    margin: auto;
   
    
  }
  
  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(218, 208, 208), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }
  
  /*CUENTA REGRESIVA*/
  
  .container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .countdown {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    flex-wrap: wrap;
  }
  
  .countdown span {
    color: #575656;
    font-size: 15px;
  }
  
  .countdown div {
    display: grid;
    place-items: center;
    padding: 10px;
  }
  
  .reloj {
    display: grid;
    place-items: center;
    border: solid 1px rgb(241, 241, 241);
    height: 100px;
    width: 100px;
   
    color: rgb(245, 245, 245);
    font-size: 3rem;
    font-weight: bold;
   
  }
  
  .final-sms {
    position: absolute;
    left: 45;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: rgb(154, 132, 154);
  }
  
  .final-sms h2 {
    text-align: center;
    font-size: 100px;
    color: rgb(247, 241, 212);
  }
  
  @media (max-width: 730px) {
    .reloj {
      display: grid;
      place-items: center;
      border: solid 1px rgb(241, 241, 241);
      height: 30px;
      width: 30px;
      color: #9a9a9a;
      font-size: 14px;
      font-weight: bold;
      background-image: url(./imagenes/efecto.gif);
      background-size: 100%;

     
    }

    .countdown span {
      color: #b7b2b6;
      font-size: 10px;
      background-color: #fffdf3;
    }
    .container {
      width: 75%;
      margin: auto;
      padding: 20%;
    
        
      }
    
      
    
    .final-sms {
      position: absolute;
      left: 45;
      right: 45;
      top: 0;
      bottom: 0;
      display: grid;
      place-items: center;
      transform: translateY(-100%);
      transition: ease-in-out 0.5s;
      background-color: rgb(255, 255, 255);
    }
 

    
    /*reloj*/

    .container {
      width: 80%;
      min-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     
    }
    .countdown {
   margin-top: -10%;
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      flex-wrap: wrap;
      padding: 6%;
      position: relative;
    }
    .Play{
  
      font-family: 'Sacramento', cursive;
      font-size: 20px;
      text-align: center;
      margin-top: 5%;
      color: #b7b2b6;
     
     }
      h5{
        font-family: 'Sacramento', cursive;
      font-size: 30px;
      text-align: center;
      margin-top: -10%;
      
      
      }
      .audio{
        width: 35%;
        height: 20px;
        margin-left: 32%;
        background: #BC9293;
        color: #c876bf; 
        margin-top: -45%;
        
    }
    .caja-audio{
      margin-top: -90%;
    }
.fondo-flor{
  margin-top: 30%;
}

 
  .info h4 {
   margin-top: -130%;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    font-size: 200%;
    color: #6a6a6a;
  }
  .copas{
    width: 12%;
    margin-top: -215%;
    margin-left: 45%;
  }
  .parrafo_ubicacion{
    font-family: 'Calligraffitti', cursive;
      font-size: 17px;
      font-weight: bold;
      color: #6a6a6a;
      text-align: center;
      margin-top: -85%;

   }
   .boton_ubi{
    margin-top: -3%;
   }
   .click_Ubi{
    padding: 2px 10px;
    font-size: 18px;
    margin-left: 30%;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid rgb(248, 220, 248);
    border-radius: 1px;
    font-family:'Julius Sans One', sans-serif; 
    font-weight: bold;
    background-color: #BC9293;
    background-image: url(./imagenes/efecto.gif);
    background-size: 60%;
  }

  .parrafo_deposito{
    font-family: 'Calligraffitti', cursive;
    font-size: 17px;
    font-weight: bold;
    color: #6a6a6a;
    text-align: center;
  
  }
  .linea{
    color: #b5b5b5;
    width: 70%;
   margin-left: 15%;
   margin-top: 20%;
  }
  .btn_btn-primary{
    padding: 2px 10px;
    font-size: 18px;
    margin-left: 36%;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid rgb(248, 220, 248);
    border-radius: 1px;
    font-family:'Julius Sans One', sans-serif; 
    font-weight: bold;
    background-color: #BC9293;
    background-image: url(./imagenes/efecto.gif);
    background-size: 60%;
  }
  .regalo{
    margin-top: 12%;
    width: 10%;
    margin-left: 46%;
  }

 .titulo2{
  font-family: 'Calligraffitti', cursive;
  font-size: 17px;
  font-weight: bold;
  color: #6a6a6a;
  text-align: center;
  margin-top: 8%;
 }

 .whatsap{
  width: 13%;
  margin-left: 44%;
 }
  .card_card-body p{
    font-family:'Julius Sans One', sans-serif; 
    text-align: center;
    color: #b38d8e;
    font-size: 15px;
    background-color: #e7e7e7;
    font-weight: bold;
    margin-left: 29%;
    padding: 5% 9%;
    margin-top: 4%;
    background-image: url(./imagenes/efecto.gif);
    background-size: 60%;
  }
main{
background-image: url(./imagenes/fondofinal.png);
background-size: 100%;

}
.parrafo_esperamos{
  margin-top: 15%;
  font-family: 'Calligraffitti', cursive;
      font-size: 20px;
      font-weight: bold;
      color: #6a6a6a;
      text-align: center;
}

.nombre_Ari{
width: 42%;
margin-left: 30%;
margin-top: -5%;
}
.corazones{
  width: 12%;
  margin-left: 45%;
  margin-top: -9%;
}
.gif{
  width: 28%;
  margin-left: 35%;
  margin-top: -30%;
}

.logo{
  width: 44%;
  margin-left: 55%;
  margin-top: -38%;
}
  .tecla a {
    text-decoration: none;
    width: 30px;
    color: rgb(217, 173, 235);
    margin-top: -35%;
  }
  
  .tecla {
  margin-top: 5%;
   margin-left: 50%;
  }
 
  
  .box__copyright {
    max-width: 1200px;
    padding: 0px 40px;
    text-align: center;
    margin-top: -16%;
    
  }

  .box__copyright p {
    margin-top: 40px;
    color: #989898;
    font-size: 10px;
    text-align: center;
  }

  .box__copyright a {
    text-decoration: none;
    color: #a4a4a4;
  }

    }